@model CategoryViewData

@*@{
    Layout = null;
}*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2>Список инструментов</h2>
    <table border=1>
        <tr>
            <th>Название</th>
            <th>Бренд</th>
            <th>Цена</th>
            <th>Мощность</th>
            <th>Масса</th>
            <th>Количество скоростей</th>
            <th>Количество товара</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        @foreach (Product r in Model.productList)
        {
            <tr class="@(@r.Id == Model.itemId ? "found" : "default")">
                <td>@r.Name</td>
                <td>@r.Brend </td>
                <td>@r.Price</td>
                <td>@r.Power</td>
                <td>@r.Mass</td>
                <td>@r.SpeedCount</td>
                <td>@r.Quantity</td>
                <td><a href="/home/comments?productId=@r.Id">Комментарии</a></td>
                @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                {
                    if (r.Quantity > 0)
                    {
                        <td>
                            <form asp-action="BuyProduct" method="post" asp-route-productId="@r.Id" asp-route-quantity="1">
                                <div class="form-group">
                                    <input type="submit" value="Купить" class="btn btn-primary" />
                                </div>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>Нет в наличии</td>
                    }
                    <td>
                        <form asp-action="DeleteProduct" method="post" asp-route-productId="@r.Id">
                            <div class="form-group">
                                <input type="submit" value="Удалить" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <button data-product="@r.Id" onclick="$('#productId').val($(this).data('product'))" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addQuantityModal">
                            Пополнить
                        </button>
                    </td>
                }
                else
                {
                    <td>Требуется авторизация для покупки или удаления</td>
                }
            </tr>
        }
    </table>

    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Пополнение остатка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/AddProduct">
                        <input type="hidden" name="categoryId" value="@Model.categoryId" />
                        <label>Название товара </label>
                        <input type="text" name="name" />
                        <br />
                        <label>Бренд </label>
                        <input type="text" name="brend" />
                        <br />
                        <label>Цена </label>
                        <input type="text" name="price" />
                        <br />
                        <label>Количество товара </label>
                        <input type="text" name="quantity" />
                        <br />
                        <label>Количество </label>
                        <input type="text" name="name" />
                        <br />
                        <label>Мощность </label>
                        <input type="text" name="power" />
                        <br />
                        <label>Масса </label>
                        <input type="text" name="mass" />
                        <br />
                        <label>Количество скоростей </label>
                        <input type="text" name="speedcount" />
                        <br />
                        <input type="submit" value="Создать" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addQuantityModal" tabindex="-1" role="dialog" aria-labelledby="addQuantityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addQuantityModalLabel">Пополнение остатка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/AddQuantity">
                        <label for="quantity">Количество</label>
                        <input id="quantity" class="form-text" type="number" min="0" name="count" />
                        <input hidden name="productId" id="productId" />
                        <input hidden name="categoryId" id="categoryId" value="@Model.categoryId" />
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        @*<a href="/home/addproduct?categoryId=@Model.categoryId">Добавить продукт</a>*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
            Добавить продукт
        </button>
    }

    <a href="/">Вернуться на главную страницу</a>

    <style>
        .found {
            color: red
        }
    </style>
</body>
</html>