@model ICollection<Category>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <label for="search">Поиск товаров: </label>
    <input id="search" type="text" name="q" />
    <table id="searchTable"></table>
    <input id="searchButton" type="submit" value="Найти" class="btn btn-success" />

    <form method="post" style="display:flex" data-ajax="true" data-ajax-method="post"
          data-ajax-url="/Home/CategorySearch" data-ajax-update="#panel" data-ajax-loading="#loading"
          data-ajax-mode="replace">
        <label for="searchTextField" style="line-height: 30px;">Name:</label><input id="searchTextField" type="text" name="name" class="form-text mr-1" style="border-radius:5px; margin-top:0" />
        <input type="submit" class="btn btn-success" />
    </form>
    <div id="panel"></div>
    <span id="loading" style="display:none">Идет загрузка... <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>

    <h2>Список категорий</h2>
    <table border=1>
        <tbody>
            @foreach (Category c in Model)
            {
                <tr>
                    <td><a href="/home/category?categoryId=@c.Id">@c.Name</a></td>
                    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                    {
                        <td><a href="/home/deletecategory?categoryId=@c.Id">Удалить</a></td>
                    }
                    else
                    {
                        <td>Требуется авторизация для удаления категории</td>
                    }

                </tr>
            }
        </tbody>
    </table>

    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        @*<a href="/home/addcategory">Добавить категорию</a>*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
            Создать категорию
        </button>
    }

    <br />

    <h2>Создать комментарий</h2>
    <form method="post" action="/Home/AddComment">
        <label>ID товара </label>
        <input type="text" name="productId" />
        <br />
        <label>Тескст </label>
        <input type="text" name="text" />
        <br />
        <input type="submit" value="Создать" />
    </form>

    <br />

    <!-- Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Пополнение остатка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/AddCategory">
                        <label>Название категории </label>
                        <input type="text" name="name" />
                        <br />
                        <input type="submit" value="Создать" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p>
            <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/">Log in</a>
        </p>
        <p>
            <a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="/">Log out</a>
        </p>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script>
        function viewResult() {
            var q = $("#search").val();
            var tableSearch = $("#searchTable");
            var link = "";
            if (q.length > 2) {
                $.ajax({
                    url: "/Home/Search",
                    type: "POST",
                    data: { q: q },
                    success: function (data) {
                        console.log(data)
                        tableSearch.empty()
                        for (var i = 0; i < data.length; i++) {
                            link = "<a class='filterItem' href='/Home/Category?categoryId=" + data[i]['categoryId'] + "&itemId=" + data[i]["id"] + "'>" + data[i]['name'] + "</a>";
                            tableSearch.append("<tr><td>" + link + "</td></tr>");
                        }
                    }
                })
            }
        }

        $("#search").on("input", viewResult)
        $("#searchButton").on("click", viewResult)
    </script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
