@model ICollection<Category>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <h2>Список категорий</h2>
    <table border=1>
        <tbody>
            @foreach (Category c in Model)
            {
            <tr>
                <td><a href="/home/category?categoryId=@c.Id">@c.Name</a></td>
                @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                {
                    <td><a href="/home/deletecategory?categoryId=@c.Id">Удалить</a></td>
                }
                else
                {
                    <td>Требуется авторизация для удаления категории</td>
                }

            </tr>
            }
        </tbody>
    </table>

    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a href="/home/addcategory">Добавить категорию</a>
    }

    <div>
        <p>
            <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/">Log in</a>
        </p>
        <p>
            <a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="/">Log out</a>
        </p>
    </div>
</body>
</html>
